/* Barra de pesquisa */
.search {
  max-width: 600px; /* Largura máxima de 500 pixels */
  margin: 20px auto; /* Centraliza a barra de pesquisa */
  position: relative;
  border: 2px solid rgba(189, 189, 189, 0.692); /* Borda verde semi-transparente */
  border-radius: 50px;
}

/* Campo de input da barra de pesquisa */
.search input {
  width: 100%; /* Ocupa toda a largura do container */
  padding: 1rem 1.5rem; /* Adiciona um espaço interno na barra de pesquisa */
  border: 2px solid rgba(76, 175, 80, 0.2); /* Borda verde semi-transparente */
  border-radius: 50px; /* Deixa a borda arredondada */
  font-size: 1rem; /* Deixa a fonte com 1rem(16 pixels) */
  background: rgba(255, 255, 255, 80, 0.1); /* Fundo branco semi-transparente */
  transition: all 0.3s ease; /* Transição suave de entrada e saída */
}

/* Quando a barra de pesquisa está selecionada para digitação */
.search input:focus {
  outline: none; /* Remove o outline padrão */
  border-color: #4caf50; /* Muda a borda para verde */
  box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.1); /* Faz uma borda(anel de foco) personalizada */
}
input[type="checkbox"]{
  appearance: none;
  height: 25px;
  width: 25px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: inline-block;
  transition: 0.3s;
  position: relative;
}
input[type="checkbox"]:hover{
  transform:scale(0.9);
}
input[type="checkbox"]:checked{
  background-color: #009933;
  border-color: #ffffff;
}
input[type="checkbox"]:checked::after{
  content: "✔";
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  top: -4px;
  left: 2px;
}

.caixa_filtro{
  padding: 10px;
  width: 400px;
  font-size: 1.6em;
  background: linear-gradient(
    45deg,
    #2e7d32 0%,
    #1b5e20 100%
  );
  background-color: #3b4e28;
  color: white;
  font-family: sans-serif;
  border: 2px solid #284d00;
  border-radius: 10px;
  position:absolute;
  top:50;
  bottom:50;
  left:100;
  margin-left: 50px;
}
.resultado{
  display: flex;
  justify-content: center;
  align-items: center;
}