.herbario-header {
  background-color: #41A546;
}

.section-style-1 {
  background-color: #2FCF37;
}

.section-style-3 {
  background-color: #457A47;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}